<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Dashboard - EvStats</title>
    <link rel="icon" th:href="@{/img/icon/stis.png}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrapAdmin.min.css}" />
    <link rel="stylesheet" th:href="@{/css/Nunito.css}" />
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/untitled.css}" />
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js}"></script>
  </head>

  <body
    id="page-top"
    style="--bs-primary: #24285b; --bs-primary-rgb: 36, 40, 91"
  >
    <div id="wrapper">
      <div th:replace="admin/sidebar :: nav"></div>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div th:replace="admin/navbar :: nav"></div>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-0">Dashboard</h3>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-primary fw-bold text-xs mb-1"
                        >
                          <span>EVENTS</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span th:text="${jumlahEvent}"></span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-globe fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-success fw-bold text-xs mb-1"
                        >
                          <span>TOTAL TIKET</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span th:text="${jumlahTicket}"></span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-info fw-bold text-xs mb-1"
                        >
                          <span>USERS</span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span th:text="${jumlahUser}"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div
                          class="text-uppercase text-warning fw-bold text-xs mb-1"
                        >
                          <span>TARGET USER (250)</span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span th:text="${targetUser} + ' %'"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Start: Chart -->
            <div class="row">
              <div class="col-lg-7 col-xl-8">
                <div class="card shadow mb-4">
                  <div
                    class="card-header d-flex justify-content-between align-items-center"
                  >
                    <h6 class="text-primary fw-bold m-0">Rangkuman Pendapatan</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas
                        id="lineChart"
                      ></canvas>
                      <script type="text/javascript" th:inline="javascript">
                        var earningTicket = [[${earningTicket}]];
                        var ticketDate = [[${ticketDate}]];

                        const chartConfigLine = {
                          "type": "line",
                          "data": {
                            "labels": ticketDate,
                            "datasets": [
                              {
                                "label": "Pendapatan Rp.",
                                "fill": true,
                                "data": earningTicket,
                                "backgroundColor": "rgba(78, 115, 223, 0.05)",
                                "borderColor": "rgba(78, 115, 223, 1)"
                              }
                            ]
                          },
                          "options": {
                            "maintainAspectRatio": false,
                            "legend": {
                              "display": false,
                              "labels": {
                                "fontStyle": "normal"
                              }
                            },
                            "title": {
                              "fontStyle": "normal"
                            },
                            "scales": {
                              "xAxes": [
                                {
                                  "gridLines": {
                                    "color": "rgb(234, 236, 244)",
                                    "zeroLineColor": "rgb(234, 236, 244)",
                                    "drawBorder": false,
                                    "drawTicks": false,
                                    "borderDash": ["2"],
                                    "zeroLineBorderDash": ["2"],
                                    "drawOnChartArea": false
                                  },
                                  "ticks": {
                                    "fontColor": "#858796",
                                    "fontStyle": "normal",
                                    "padding": 20
                                  }
                                }
                              ],
                              "yAxes": [
                                {
                                  "gridLines": {
                                    "color": "rgb(234, 236, 244)",
                                    "zeroLineColor": "rgb(234, 236, 244)",
                                    "drawBorder": false,
                                    "drawTicks": false,
                                    "borderDash": ["2"],
                                    "zeroLineBorderDash": ["2"]
                                  },
                                  "ticks": {
                                    "fontColor": "#858796",
                                    "fontStyle": "normal",
                                    "padding": 20
                                  }
                                }
                              ]
                            }
                          }
                        };

                        const canvasLine = document.getElementById('lineChart');
                        const ctxLine = canvasLine.getContext('2d');
                        const chartLine = new Chart(ctxLine, chartConfigLine);
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4">
                <div class="card shadow mb-4">
                  <div
                    class="card-header d-flex justify-content-between align-items-center"
                  >
                    <h6 class="text-primary fw-bold m-0">Rangkuman Tiket</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas
                        id="doughnutChart"
                      ></canvas>
                      <script type="text/javascript" th:inline="javascript">
                        var ticketData = [[${ticketData}]];

                        const chartConfig = {
                          type: 'doughnut',
                          data: {
                            labels: '',
                            datasets: [
                              {
                                label: '',
                                backgroundColor: ['#1cc88a', '#36b9cc', '#e74a3b'],
                                borderColor: ['#ffffff', '#ffffff', '#ffffff'],
                                data: ticketData,
                              },
                            ],
                          },
                          options: {
                            maintainAspectRatio: false,
                            legend: {
                              display: false,
                              labels: {
                                fontStyle: 'normal',
                              },
                            },
                            title: {
                              fontStyle: 'normal',
                            },
                          },
                        };

                        const canvasDoughnut = document.getElementById('doughnutChart');
                        const ctxDoughnut = canvasDoughnut.getContext('2d');
                        const chartDoughnut = new Chart(ctxDoughnut, chartConfig);
                      </script>
                    </div>
                    <div class="text-center small mt-4">
                      <span class="me-2"
                        ><i class="fas fa-circle text-danger"></i
                        >&nbsp;Rejected</span
                      ><span class="me-2"
                        ><i class="fas fa-circle text-success"></i
                        >&nbsp;Approved</span
                      ><span class="me-2"
                        ><i class="fas fa-circle text-info"></i
                        >&nbsp;Pending</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End: Chart -->
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © 2023 EvStats</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script th:src="@{/bootstrap/js/bootstrapAdmin.min.js}"></script>
    <script th:src="@{/js/chart.min.js}"></script>
    <script th:src="@{/js/bs-init.js}"></script>
    <script th:src="@{/js/startup-modernAdmin.js}"></script>
  </body>
</html>
