<form method="post" th:object="${ticket}" th:action="@{/admin/tickets/edit}">
  <div class="mb-3">
    <h6 style="font-weight: bold">Nama Lengkap</h6>
    <input
      th:field="${ticket.name}"
      class="form-control"
      type="text"
      name="name"
      readonly
    />
    <input th:field="${ticket.id}" type="hidden" id="id" name="id" />
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Email</h6>
    <input
      th:field="${ticket.email}"
      type="email"
      class="form-control"
      name="email"
      readonly
    />
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Event</h6>
    <input
      th:field="${ticket.event}"
      type="text"
      class="form-control"
      name="event"
      readonly
    />
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Jumlah Tiket</h6>
    <input
      th:field="${ticket.tickets}"
      type="number"
      class="form-control"
      name="tickets"
      readonly
    />
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Tanggal</h6>
    <input
      th:field="${ticket.date}"
      class="form-control"
      type="date"
      name="date"
      readonly
    />
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Status</h6>
    <select
      type="text"
      th:value="${ticket.status}"
      class="form-control"
      name="status"
      required
    >
      <option>Pending</option>
      <option>Approved</option>
      <option>Rejected</option>
    </select>
  </div>
  <div class="mb-3">
    <h6 style="font-weight: bold">Invoices</h6>
    <input th:field="${ticket.invoices}" type="hidden" name="invoices" />
    <a
      href="#"
      class="form-control"
      style="color: var(--bs-body-color); font-weight: bold"
      data-toggle="modal"
      data-target="#imageModal"
      >Lihat</a
    >
    <div
      id="imageModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <img
              th:src="@{/invoices/{invoiceName}(invoiceName=${ticket.invoices})}"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <button class="btn btn-primary shadow" type="submit">Kirim</button>
  </div>
</form>
